<% include ./partials/top %>
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style1">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1><%=ngoType%></h1>
							</header>
							<div class="content">
								<p>Lorem ipsum dolor sit amet nullam consequat<br />
								sed veroeros. tempus adipiscing nulla.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
		<div class="inner">
		<!-- Two -->
			<h1>NGO'S</h1>
			<hr>
			<div class="table-wrapper">
				<table>
					<tbody>
						<%ngos.forEach(function(ngo){%>
							<tr onclick="location.href='/project?ngoId=<%= ngo._id %>&pageno=1'" class="projectList">
								
									<!-- <header class="major"> -->
								<td><h3><%= ngo.username %></h3></td>
									<!-- </header> -->
							</tr>
						<% });%>
					</tbody>
				</table>
			</div>
			<div>
				<%for(var i=0;i<count;i++){%>
					<%if(pageno==i+1){%>
						<a style="background-color: #479b98;font-size: 40px" href="/ngos/<%=ngos[0].type%>?pageno=<%=i+1%>"><%=i+1%></a>
					<%}else{%>
						<a style="font-size: 40px" href="/ngos/<%=ngos[0].type%>?pageno=<%=i+1%>"><%=i+1%></a>
					<%}%>
				<%}%>
			</div>
		</div>
		<!-- Three -->
		
	</div>

				<!-- Contact -->
<% include ./partials/footer %>