<% include ../partials/top %>

<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="style1">
		<div class="inner">
			<span class="image">
				<img src="images/pic07.jpg" alt="" />
			</span>
			<header class="major">
				<h1><%= ngo.username %></h1>
			</header>
			<div class="content">
				<p><%= ngo.description %></p>
				<%if(loggedIn && owner){%>
				<ul class="actions">
					<li><a href="/project/add" class="button next scrolly">Add Project</a></li>
				</ul>
				<%}%>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<div class="inner">
		<!-- Two -->
			<h1>Projects</h1>
			<hr>
			<div class="table-wrapper">
				<table>
					<tbody>
						<%projects.forEach(function(project){%>
							<tr onclick="location.href='/project/<%= project._id %>'" class="projectList">
								
									<!-- <header class="major"> -->
										<td><h3><%= project.title %></h3></td>
									<!-- </header> -->
							</tr>
						<% });%>
					</tbody>
				</table>
			</div>
			<div>
				<%for(var i=0;i<count;i++){%>
					<%if(pageno==i+1){%>
						<a style="background-color: #479b98;font-size: 40px" href="/project?ngoId=<%= ngo._id %>&pageno=<%=i+1%>"><%=i+1%></a>
					<%}else{%>
						<a style="font-size: 40px" href="/project?ngoId=<%= ngo._id %>&pageno=<%=i+1%>"><%=i+1%></a>
					<%}%>
				<%}%>
			</div>
		</div>
		<!-- Three -->

	</div>

<% include ../partials/footer %>